form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
mat-form-field{
    margin: 1.2em;
}

button{
    width: 8em;
    height: 3em;
}
.details{
    height: 6em;
}
.add{
    background-color: #32CD32;
        color: white;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}